/* Silka Font Family */

/* Weight 100 - Thin */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-thin-italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Weight 200 - Extra Light */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-extra-light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-extra-light-italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Weight 300 - Light */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-light-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Weight 400 - Regular */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Weight 500 - Medium */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Weight 600 - Semi Bold */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-semi-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-semi-bold-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Weight 700 - Bold */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Weight 900 - Black */
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("https://multibooks-tst.eduranga.pl/api/proxy?url=http://webserver/api/public-files/alias/alias/silka-black-italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
